h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 10px;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 250;
  padding: 10px;
}
img {
  width: 300px;
  height: 300px;
  padding: 10px;
}
p {
  margin: auto;    /* Margin kanan */
  padding: 10px;         /* Padding dalam paragraf */
  text-align: justify;  /* Ratakan teks ke kiri dan kanan */
  line-height: 1.5;     /* Jarak antara baris 1.5x ukuran font */
  font-family: Arial, Helvetica, sans-serif;
}
small {
  padding: 10px;
}